<!-- Navbar Top -->
<nav class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Frank</a>
        </div>
    </div><!-- /.container -->
</nav>

<!-- Navbar Bottom -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="btn-group btn-group-justified" role="group" aria-label="navbar button" style="border-radius: 0 !important;">
                <!--HOME button-->
                <div class="btn-group" role="group">
                    <a href="/" class="btn btn-default btn-lg" aria-label="Home">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </a>  
                </div>
                <!--POST button-->    
                <div class="btn-group" role="group">         
                    <a href="/submit" class="btn btn-default btn-lg" aria-label="Post">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </div>
                <!--SEARCH button-->    
                <div class="btn-group" role="group">         
                    <a class="btn btn-default btn-lg" aria-label="Search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>
                </div>
                <!--USER button-->
                <div class="btn-group" role="group">
                    <a href="/popular" class="btn btn-default btn-lg" aria-label="Popular">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                </div>
                <!--MENU button-->
                <div class="btn-group" role="group">
                    <a class="btn btn-default btn-lg" aria-label="Menu" id="category-nav-toggle">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Navbar Bottom -->
<div id="category-nav-outer">
    <div id="category-nav-inner">
        <div class="container">
            <ul style="list-style: none; margin: 0; padding: 0;">
                {{#each categories}}
                    <a href="/pages/{{short}}" class="category-nav-category" id="category-nav-{{category}}">
                        <li style="text-align: left; border-bottom: 1px solid #222; padding: 20px 10px 20px 30px">
                            {{category}}
                        </li>
                    </a>
                {{/each}}
            </ul>
        </div>
        <!-- /.container -->
    </div>
</div>