<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>frank.</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>

    <!-- Global CSS -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link href="/css/index.css" rel="stylesheet">
    <!--Category CSS -->
    <link href="/css/category.css" rel="stylesheet">

    <!-- Global JS -->
    <script src="/js/global.js"></script>

</head>

<body>

    {{> navbdesign}}

    <div class="container">
	     <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <ul style="list-style: none;">
            <li><a href="/pagesb/clothing/"><img src="images/rect-clothing.png" class="img-thumbnail nav-image" alt="Clothing"></a></li>
            <li><a href="/pagesb/shoes/"><img src="images/rect-shoes.png" class="img-thumbnail nav-image" alt="Clothing"></a></li>
            <li><a href="/pagesb/accessories/"><img src="images/rect-accessories.png" class="img-thumbnail nav-image" alt="Clothing"></a></li>
            <li><a href="/pagesb/makeup/"><img src="images/rect-makeup.png" class="img-thumbnail nav-image" alt="Clothing"></a></li>
            <li><a href="/pagesb/hairstyles/"><img src="images/rect-hairstyles.png" class="img-thumbnail nav-image" alt="Clothing"></a></li>
            <li><a href="/pagesb/facialhair/"><img src="images/rect-facialhair.png" class="img-thumbnail nav-image" alt="Clothing"></a></li>
          </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
