<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>frank.</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>

    <!-- Global CSS -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link href="/css/index.css" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link href="/css/search.css" rel="stylesheet">

    <!-- Global JS -->
    <script src="/js/global.js"></script>
</head>

<body>

    {{> navbdesign}}

    <div class="container">
	     <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" id="search-field" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" id="search-button-b" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <ul>
            <li>
                <a href="/pages/clothing/" class="rect">
                    <div>
                        <div class="rect-icon">
                            <div><img src="images/icon_clothing.png" alt="Clothing"></div>
                        </div>
                        <div class="rect-text">
                            <div>Clothing</div>
                        </div>
                    <div>
                </a>
            </li>
            <li>
                <a href="/pages/shoes/" class="rect">
                    <div>
                        <div class="rect-icon">
                            <div><img src="images/icon_shoes.png" alt="Shoes"></div>
                        </div>
                        <div class="rect-text">
                            <div>Shoes</div>
                        </div>
                    <div>
                </a>
            </li>
            <li>
                <a href="/pages/accessories/" class="rect">
                    <div>
                        <div class="rect-icon">
                            <div><img src="images/icon_accessories.png" alt="Accessories"></div>
                        </div>
                        <div class="rect-text">
                            <div>Accessories</div>
                        </div>
                    <div>
                </a>
            </li>
            <li>
                <a href="/pages/makeup/" class="rect">
                    <div>
                        <div class="rect-icon">
                            <div><img src="images/icon_makeup.png" alt="Makeup"></div>
                        </div>
                        <div class="rect-text">
                            <div>Makeup</div>
                        </div>
                    <div>
                </a>
            </li>
            <li>
                <a href="/pages/hairstyles/" class="rect">
                    <div>
                        <div class="rect-icon">
                            <div><img src="images/icon_hairstyles.png" alt="Hairstyles"></div>
                        </div>
                        <div class="rect-text">
                            <div>Hairstyles</div>
                        </div>
                    <div>
                </a>
            </li>
            <li>
                <a href="/pages/facialhair/" class="rect">
                    <div>
                        <div class="rect-icon">
                            <div><img src="images/icon_facialhair.png" alt="Facial Hair"></div>
                        </div>
                        <div class="rect-text">
                            <div>Facial Hair</div>
                        </div>
                    <div>
                </a>
            </li>
          </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- google analytics
    <script src="/js/btest.js"></script>
    {{> googleAnalytics}} -->

</body>

</html>
