<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>frank.submit</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>

    <!-- Global CSS -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link href="/css/submit.css" rel="stylesheet">

    <!-- Global JS -->
    <script src="/js/global.js"></script>
    <!-- Submit JS -->
    <script src="/js/submit.js"></script>
</head>

<body>

    {{> nav}}

    <div class="preview">
        <div class="previewObj" id="previewPlaceholder">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        </div>
        <div class="previewObj" id="previewImageHolder" style="display: none;">
            <img id="previewImage" src="#" alt="your image" />
        </div>
    </div>

    <form id="submit-form">
        <fieldset class="form-group">
            <label for="imageInput">Choose photo</label>
            <input type="file" class="form-control-file" id="imageInput">
        </fieldset>
        <fieldset class="form-group">
            <label for="commentInput">Comment:</label>
            <textarea class="form-control" id="commentInput" rows="3"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="categorySelect">Choose Category:</label>
            <select class="form-control" id="categorySelect">
                {{#each categories}}
                    {{category}}
                    <option>{{category}}</option>
                {{/each}}
            </select>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>
