<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>frank.submit</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>

    <!-- Global CSS -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link href="/css/submit.css" rel="stylesheet">

    <!-- Global JS -->
    <script src="/js/global.js"></script>
    <!-- Submit JS -->
    <script src="/js/submit.js"></script>
</head>

<body>

    {{> navbdesign}}
    <div class="preview">
        <div class="previewObj" id="previewPlaceholder">
            <img src="images/file.png" class="preview-image"/>
            <p>click to browse files</p>
        </div>
        <div class="previewObj" id="previewImageHolder" style="display: none;">
            <img id="previewImage" src="#" alt="your image" />
        </div>
    </div> 

    <form id="addFriendForm" role="form" method="post" action="/submit-post" enctype="multipart/form-data">
        <fieldset class="form-group">
            <span class="btn-file">
                <input type="file" class="form-control-file" id="imageInput" name="image">
            </span>
        </fieldset>
        <fieldset class="form-group">
            <label for="commentInput">Description</label>
            <textarea class="form-control" id="commentInput" rows="3" name="comment" placeholder="Write a caption!"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="categorySelect">Category</label>
            <select class="form-control" id="categorySelect" name="category">
                {{#each categories}}
                    {{category}}
                    <option>{{category}}</option>
                {{/each}}
            </select>
        </fieldset>
            <button type="submit" class="btn btn-primary submit-btn center-block" id="submit-post">
                <div class="submit-txt">Submit</div>
            </button>
    </form>

</body>

</html>
