.module {
  padding: 0 10%;
}

.row {
  margin: 0;
}

.col-min-padding {
  padding: 3px;
}

.subcategory-module {
  padding: 10px 10px 20px 10px;
}

.subcategory-frame {
  display: inline-block;
  margin: 0 3px 5px 3px;
  padding: 10px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
}

.post-frame {
  padding-bottom: 6px;
}

.post-picture {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.title-description {
  padding: 3px;

  background-color: #dddddd;
}

.category {
  padding: 3px;

  border-top: 1px solid #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  background-color: #dddddd;
}