.module {
  padding: 0 10%;
}

.page-title h5 {
  padding-top: 5px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #bfbfbf;
}

.row {
  margin: 0;
}

.col-min-padding {
  padding: 3px;
}

.subcategory-module {
  padding: 10px 10px 20px 10px;
}

.subcategory-frame {
  display: inline-block;
  margin: 0 3px 5px 3px;
  padding: 10px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
}

.post-box {
  box-shadow: 2px 2px 5px #999999;

}

.post-picture {
  max-width: 100%;
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px;
}

.post-text {
  padding-left: 10px;
  padding-right: 10px;
}

.title-description {
  padding-left: 3px;
  background-color: #ffffff;
}

.title-description h5 {
  padding-bottom: 0px;
}

.caption-box {
    overflow: hidden;
}
.right {
    float: right;
    width: 50px;
    min-height: 50px;
    background: #fff;
}
.left {
    overflow: hidden;
    min-height: 50px;
    background: #fff;
}

.score {
  color: #b3b3b3;
  padding-top: 20px;
}

.caption {
  padding-top: 0px;
  font-size: 12px;
}

.show-comments {
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.show-comments a {
  color: #b3b3b3;
}

.show-comments a:active {
  font-weight: bold;
  background-color: #fff;
  text-decoration: none;
}

.category {
  padding: 3px;

  border-top: 1px solid #ffffff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: #ffffff;

  font-style: italic;
  color: #8cb3d9;
  font-size: 13px;
  opacity: 0.5;
}

.category a:active {
  font-weight: bold;
  background-color: #fff;
  text-decoration: none;
}

.padding {
  padding-bottom:  10px;
}

.title-description .caption {
  color: #404040;
}





