.module {
  padding: 0 10%;
}

.row {
  margin: 0;
}

.col-min-padding {
  padding: 3px;
}

.subcategory-module {
  padding: 10px 10px 20px 10px;
}

.subcategory-frame {
  display: inline-block;
  margin: 0 3px 5px 3px;
  padding: 10px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
}

.post-box {
  box-shadow: 2px 2px 5px #888888;

}

.post-picture {
  max-width: 100%;
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px;
}

.title-description {
  padding-left: 3px;
  background-color: #ffffff;
}

.title-description h5 {
  padding-bottom: 0px;
}

.category {
  padding: 3px;

  border-top: 1px solid #ffffff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: #ffffff;
}

.padding {
  padding-bottom:  10px;
}


