body {
  margin: 0px 0;
  margin-bottom: 60px;
}


.nav-image {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

li {
  text-align: center;
}

ul {
padding-left: 2.4%;
padding-right: 2.4%;
}

.container .row .col-md-6 {
  padding-bottom: 2%;
}

/* Navbar
 */

.navbar {
  background-color: black !important; 
  border: 0 !important;
}

.navbar-brand {
  color: #000;
}

.navbar-header {
  background-color: black;
}

.btn {
  border:0px solid transparent;
  background-color: black;
}

.btn a:active, a:focus, a:hover {
  background-color: black;
  box-shadow: none;
}

.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  background-color: black;
}

.btn-group:hover, .btn-group:focus, .btn-group:active {
  box-shadow: none;
  background-color:black;
}

.btn .glyphicon {
  color: white;
}

/* Upvote/Downvote interaction
 */

.arrow {
  cursor: pointer;
  cursor: hand;
}

.upvoted .arrow.up, .upvoted .score.upvote {
  color: #f00;
}

.downvoted .arrow.down, .downvoted .score.downvote {
  color: #00f;
}

/* Navbar Menu
 */

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-align: left;
  border-bottom: 1px solid #222;
  padding: 20px 10px 20px 30px;
}

#category-nav-outer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 50px;
  z-index: 1030;
  background-color: #000;

  height: 0;
  overflow: hidden;
}

#category-nav-inner {
}

.category-nav-category {
  font-size: 20px;
  color: #fff;
}

.category-nav-category:hover, .category-nav-category:active {
  color: #fff;
  text-decoration: none;
}

/* Navbar Search
 */

#search-nav-outer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 50px;
  z-index: 1030;
  background-color: #000;

  height: 0;
  overflow: hidden;
}

#search-nav-inner {
}

#search-nav-inner .container {
  padding: 0;
}

#search-nav-inner .form-control {
  border: 0;
  border-radius: 0;
  background-color: #000;
  height: auto;
  font-size: 24px;
  color: #fff;
}

#search-nav-inner .btn {
  border: 1px solid transparent;
  border-radius: 0;
  background-color: blue;
  font-size: 24px;
}
