body {
  padding-top: 70px;
}

.nav-image {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

li {
  text-align: center;
}

ul {
padding-left: 2.4%;
padding-right: 2.4%;
}

.container .row .col-md-6{
  padding-bottom: 2%;
}

.navbar-brand {
  padding-left: 45%;
}

.navbar-header {
  background-color: black;
}

/* Upvote/Downvote interaction
 */

.arrow {
  cursor: pointer;
  cursor: hand;
}

.upvoted .arrow.up, .upvoted .score.upvote {
  color: #f00;
}

.downvoted .arrow.down, .downvoted .score.downvote {
  color: #00f;
}
