#previewImage {
	position: relative;
	top: 0px;
	height: 300px;
	width: 100%;
	background-position: center;
}

.edit-button .glyphicon{
	color: white;
	top: 15%;
	position: absolute;
	float: left;
	padding-left: 90%;
	font-size: 20px;
}

.profile-info {
	padding-bottom: 10px;
}

.profile-info h3 {
	text-align: center;
}

.no-posts {
	font-size: 12px;
	color: #BDBDBD;
}
