
#submit-form {
  margin:0 2%;
}

label {
  font-family: Helvetica;
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.75;
  letter-spacing: 1px;
}

.previewObj {
  width: 90%;
  margin: auto;
  text-align: center;
}

#previewPlaceholder {
  display:table;
  background-color: #FDF9FE;
  border: 3px dashed #ECE0F8;
}

#previewPlaceholder:active, #previewPlaceholder:hover {
  display:table;
  background-color: #F9F3FA;
  border: 3px dashed #D5C1E9;
}

.previewUpdate {
  width: 90%;
  margin: auto;
}


.previewUpdate p {
  text-align: right;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 12px;
  color: #D6194B;

}

.preview-txt {
  font-family: Trebuchet MS;
  font-weight: bold;
  color: #8B69A1;
  opacity: 0.75;
  padding-top: 20px;
}

.preview-image {
  width: 20%;
  padding-top: 30%;
  opacity: 0.75;
}

#previewPlaceholder span {
  display:table-cell;
  vertical-align:middle;


  font-size: 40px;
}

#previewImage {
  max-width: 100%;
}

#previewImageHolder {
  border: 1px solid #E6E6E6;
}

.btn-file {
  display:none;
}

#submit-form {
  margin-top: 20px;
}

#addFriendForm input.invalid
{
  animation:invalid .5s;
  -webkit-animation:invalid .5s;
  box-shadow:0 0 5px 1px #f43841;
}

  @keyframes invalid
  {
  0%   {left:8px;}
  10%  {left:-8px;}
  30%  {left:8px;}
  60%  {left:-8px;}
  100% {left:0px;}
  }

  @-webkit-keyframes invalid /* Safari and Chrome */
  {
  0%   {left:8px;}
  10%  {left:-8px;}
  30%  {left:8px;}
  60%  {left:-8px;}
  100% {left:0px;}
  }

.form-group {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 5px;
}


.form-group textarea {
  border-radius: 0;
  border-color: #ccc;
  background-color: #F8F8F8;
  opacity: 0.5;
}

.form-group textarea:focus {
  border-color: purple;
  box-shadow: none;
}


.form-control {
  opacity: 0.5;
  background-color: #F8F8F8;
}

.form-control:focus {
  opacity: 0.5;
  border-color: purple;
}

.submit-btn, .submit-btn:active {
  width: 90%;
  background-color: #731D9A;
  margin-top: 15px;
  padding: 10px 0;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.20);
  border-outline: none;
}

 .submit-btn:hover, .submit-btn:focus {
  width: 90%;
  background-color: #4B1564 !important;
  margin-top: 15px;
  padding: 10px 0;
  box-shadow: 2px 3px 3px rgba(230, 230, 230, 0.20);

}

.submit-txt {
  text-transform: uppercase;
  font-family: Trebuchet MS;
  letter-spacing: 1.75px;
  font-weight: bold;

}